.bottom {
    position: fixed;
    top: 216px;
    left: 918px;
}

.yellow {
    background-color: rgb(251, 192, 45);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    transition-duration: 0.25s;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px;
}

.yellow:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0.625rem 0.625rem;
    transform: scale(1.2);
}

.lime {
    background-color: rgb(171, 255, 73);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px;
}

.lime:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0.625rem 0.625rem;
    transform: scale(1.2);
}

.purple {
    background-color: rgb(94, 53, 177);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px;
}

.purple:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0.625rem 0.625rem;
    transform: scale(1.2);
}

.red {
    background-color: rgb(230, 74, 25);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px;
}

.red:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0.625rem 0.625rem;
    transform: scale(1.2);
}

.blue {
    background-color: rgb(25, 118, 210);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px;
}

.blue:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0.625rem 0.625rem;
    transform: scale(1.2);
}

.green {
    background-color: rgb(56, 142, 60);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-bottom: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px;
}

.green:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0.625rem 0.625rem;
    transform: scale(1.2);
}