.small-circle {
    width: 10px;
    height: 10px;
    background-color: white;
    border: 1px solid rgb(119, 115, 115);
    border-radius: 50%;
}

.flex-top, .flex-bottom {
    display: flex;
    justify-content: space-between;
    width: 35px;
    height: 45px;
}

.flex-bottom {
    position: relative;
    top: -22px;
}

.right-container {
    position: relative;
    top: -632px;
    left: 759px;
}

.box {
    margin-bottom: -26px;
}