@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');

.title {
    font-family: 'Barriecito', cursive;
    font-size: 32px;
    font-weight: 600;
    color: rgb(17, 17, 17);
    text-align: center;
    margin-left: -60px;
    margin-bottom: 23px;
    position: relative;
    top: -1px;
}

.app {
    height: 672px;
}